@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.box{
    width: 80%;
    height: 23.25rem;
    display: 'flex';
    margin-left: 2%;
    border-radius: 5%;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(69, 130, 108, 0.25);
    padding: 10%;
}

.text{
    font-size: 18px;
    line-height: 1.534rem;
    font-weight: 700, bold;
    font-family: 'Nunito', sans-serif;
    color: #000000;
}

.labels{
    font-size: 14px;
    line-height: 1.534rem;
    font-weight: 400, regular;
    font-family: 'Nunito', sans-serif;
    color: #000000;
}
