.text-input .MuiOutlinedInput-root {
    border-radius: 1rem;
    width: 30rem;
}

.select-input .MuiOutlinedInput-root {
    border-radius: 1rem;
    width: 15rem;
}

.question-component {
    max-width: 30rem;
}