.text-input .MuiOutlinedInput-root{
    border-radius: 1rem;
}

.select-input .MuiOutlinedInput-root{
    border-radius: 1rem;
    width: 15rem;
}

.question-component {
    max-width: 30rem;
    font-family: 'Nunito', sans-serif;
}

.question-items .MuiTypography-root{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}
