@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.card-container{
    width: 32%;
    height: 23rem;
    border-radius: 5%;
    padding-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 300px;
    margin-right: 3vw;
    margin-top: 3vh;
    margin-bottom: 2%;
    box-shadow: 0px 5px 15px rgba(69, 130, 108, 0.25);
}
.card-text-container, .card-image-text-container{
    width: 95%;
    height: 48%;
    margin-left: 5%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-btn-container{
    width: 100%;
    height: 20%;
    margin-left: 5%;
    margin-top: 18%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-items: space-between;
}

.card-title-container{
    max-width: 70%;
}

.title-container{
    max-width: 70%;
}

.card-title{
    margin:0;
    font-family: 'Nunito', sans-serif;
    color: #64926E;
    font-size: 36px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    min-width: 0;
}
.download-img{
    width: 30%;
    margin: 0;
}

.summary-container{
    
}

.card-summary{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    min-width: 0;
    max-width: 90%;
}

.card-image-text-container{
    margin-top: 2%;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between;
}

/* The card text container when it is a letter */
.card-text-container-letter{
    width: 65%;
    height: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-letter-preview{
    width: 25%;
    border-style: solid;
    border-width: 0.06rem;
    border-color: #59705F;
    margin-right: 0;
}

.tag-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}

.card-category{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-top: 20%;
    margin-bottom: 2%;
}