.navbar-btn{
  margin: 2%;
}
.card-edit-btn{
  width: 27%;
  height: 100%;
  padding: 16px;

  background: #484848;
  color: white;
  border-radius: 15px;
  border: none;

  margin-right: 5%;
}

.card-download-btn{
  border: none;
  background-color: transparent;
  margin-left: -10%;
}