@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.helpBoxTitle {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 1.15rem;
  text-align: left;
  margin-bottom: 2.25rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.helpBoxDescription {
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

.helpBox {
  /* background-color: #387948; */
  background-color: #eef2ef;
  border-radius: 1rem;
  padding: 2.25rem;
  /* flex-wrap: wrap; */
  /* width: '50%'; */
  /* padding-right:10rem; */
  /* width: '100%'; */
  /* max-width: 26rem; */
}