@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.search-bar .MuiOutlinedInput-root{
    border-radius: 0.9375rem;
    font-style: italic;
    font-weight: bold;
    font-family: 'Nunito';
 }