.box {
    border-radius: 20px !important;
}

.resource1 {
    background-image: url('../../properties/resource1.png') !important;
    min-height: 31.25rem;
    width: 100%;
}

.resource2 {
    background-image: url('../../properties/resource2.png');
}

.resource3 {
    background-image: url('../../properties/resource3.png');
}

.box-content {
    /* background-color: #d7d7d7 !important; */
    height: 400px !important;
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
}

.resource-title {
    color: #64926E;
    padding-left: 16px;
    padding-top: 100px;
}

.resource-description {
    color: black;
    font: Nunito;
    padding-left: 16px;
}

/* div boxes only */
.thumbnail1 {
    background-image: url('../../properties/resource1.png');
    padding: 7rem 3rem;
    border-radius: 1rem;
    height:12rem;
}

.thumbnail2 {
    background-image: url('../../properties/resource2.png');
    padding: 7rem 3rem;
    border-radius: 1rem;
    height:12rem;
}

.thumbnail3 {
    background-image: url('../../properties/resource3.png');
    padding: 7rem 3rem;
    border-radius: 1rem;
    height:12rem;
}

.box-title{
    color: #64926E;
    font-weight: bold;
    font-family: Nunito;
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
}

.box-description{
    color: #3E3E3E;
    font-family: Nunito;
}