.box {
    box-shadow: none !important;
    border-radius: 20px !important;
}

.resource1{
    background-image: url('../../properties/resource1.png') !important;
    min-height: 31.25rem;
    width: 100%;
}

.resource2{
    background-image: url('../../properties/resource2.png');
}

.resource3{
    background-image: url('../../properties/resource3.png');
}

.box-content {
    background-color: #d7d7d7 !important;
    height: 400px !important;
    display: flex;
    flex-wrap: wrap;
}

.resource-title {
    color: #64926E;
    padding-left: 16px;
    padding-top: 100px;
}

.resource-description {
    color: black;
    font: Nunito;
    padding-left: 16px;
}
