.sidebar-ul {
  list-style-type: none;
  margin-left: -8%;
  margin-top: -1%;
}
.sidebar-container {
  margin: 5%;
  width: 16%;
  height: 100%;
  border: solid;
  border-radius: 0.9375rem;
  border-width: 0.063rem;
  background-color: #EAEAEA;
}
