@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.sidebar-ul {
  list-style-type: none;
  margin-left: 2%;
  margin-top: -8%;
  
}
.sidebar-container {
  margin: 2%;
  width: 20.75rem;
  height: 23.25rem;
  border: solid;
  border-radius: 0.9375rem;
  border-width: 0.063rem;
  background-color: #EAEAEA;
}
