.resource-card {
  max-width: 100%;
  max-height: 100%;
  /* border: 0.05rem solid black; */
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 15px rgba(69, 130, 108, 0.25);
  padding: 1.2rem
}

.resource-button {
  display: flex;
  justify-content: right;
  width: 100%;
  margin: 5% 0% 0%
}

.resource-title {
  font-family: 'Nunito';
  font-weight: bold;
  color: #64926E
}

.resource-text {
  font-size: 11;
  font-family: 'Nunito';
  color: #000
}

.resource-doc-preview{
  width: 85%;
  height:100%;
  border-style: solid;
  border-width: 0.06rem;
  border-color: #59705F;
  margin-right: 0;
}

.resource-vid-preview{
  width: 100%;
  height:90%;
  border-style: solid;
  border-width: 0.06rem;
  border-color: #59705F;
  border: none 
}