.body {
    margin: 0;
}

.fieldsidebar {
    height: 100vh;
    background-color: lightgray;
    padding-left: 1rem;
    padding-right: 1rem;
}

.side-btn {
    font-size: 12px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

.side-btn:hover {
    font-weight: bold;
}

.side-btn::after {
    font-weight: bold;
}