.body {
    margin: 0;
}


/* Sidebar Drawer styling */
.sidebar {
    width: 20rem;
}

.sidebar .MuiDrawer-paper {
    width: 20rem;
    background-color: lightgray;
    border: 0;
}

/* Sidebar content styling */
.sidebar-content {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.side-btn {
    font-size: 14px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

.side-btn:hover {
    font-weight: bold;
}

