body {
    font-family: 'Roboto', sans-serif;
}

.side-btn {
    font-size: 18px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

.side-btn:hover {
    font-weight: bold;

}

.side-btn-active {
    font-weight: bold;
    color: #000000
}

.error-page {
    position: absolute;
    z-index: 4;
}